[Unit]
Description=Update weather MOTD every hour
Requires=wthr.service

[Timer]
Unit=wthr.service
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
